fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
redis
celery
httpx
beautifulsoup4
numpy
pandas
ortools
pydantic-settings
python-dotenv
nba_api
python-multipart
scikit-learn
xgboost
joblib
lightgbm
catboost
tensorflow
nfl-data-py
requests
scipy
